PORT=3000
HOSTNAME=0.0.0.0
DATABASE_URL="file:./sqlite.db"
FRONTEND_URL=http://localhost:5173
DATABASE_AUTH_TOKEN=Ax000000
BETTER_AUTH_URL=http://localhost:3000
BETTER_BASE_URL=http://localhost:3000/api/auth
BETTER_AUTH_SECRET=xxx
GITHUB_CLIENT_ID=xxx
GITHUB_CLIENT_SECRET=xxx

DEMO_USER_EMAIL=demo@ichiyo.in
DEMO_USER_PASSWORD=demo123456
DEMO_USER_NAME=demo