/* 霞鹜975黑体 */
@import url('https://fontsapi.zeoseven.com/185/main/result.css');
/* 余繁离形体 */
@import url('https://fontsapi.zeoseven.com/719/main/result.css');
/* 破晓像素 */
@import url('https://fontsapi.zeoseven.com/870/main/result.css');
/* Outfit Thin */
@import url('https://fontsapi.zeoseven.com/368/main/result.css');
/* 寒蝉活仿楷 */
@import url('https://fontsapi.zeoseven.com/872/main/result.css');

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans:
		'Outfit Thin', 'LXGW 975 Gothic SC', 'Noto Sans SC', 'PingFang SC',
		'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

	--font-yu-pixel: 'YuFanLixing', sans-serif;
	--font-pixel: 'PoxiaoPixel', sans-serif;
	--font-satisfy: 'ZSFT-dy', cursive;
	--font-jb-mono: 'ZSFT-hk', sans-serif;
	--font-chill-huo: 'ChillHuoFangKai_F', sans-serif;
}

@layer base {
	body {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		word-break: break-word;
		text-rendering: optimizeLegibility;
	}
}

@theme inline {
	--animate-skeleton: skeleton 2s -1s infinite linear;
	--color-warning-foreground: var(--warning-foreground);
	--color-warning: var(--warning);
	--color-success-foreground: var(--success-foreground);
	--color-success: var(--success);
	--color-info-foreground: var(--info-foreground);
	--color-info: var(--info);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
	@keyframes skeleton {
		to {
			background-position: -200% 0;
		}
	}
}

:root {
	--border-color: oklch(0.922 0 0);
	--border-sub-color: oklch(0.97 0 0);
	--code-color: oklch(0.34 0 0);
	--code-bg-color: oklch(0.82 0 0 / 0.44);
	--blockquote-color: oklch(0.95 0 0);
	--blockquote-to-color: oklch(0.965 0 0);
	--code-pre-bg-color: oklch(0.965 0.002 255.4);

	--kbd-bg-color: oklch(0.925 0.002 255.4);
	--kbd-bg-border-color: oklch(0.785 0.002 255.4);

	--alert-warning-color: oklch(0.96 0.03 88);
	--alert-note-color: oklch(0.93 0.02 205);
	--alert-tip-color: oklch(0.93 0.01 135);
	--alert-important-color: oklch(0.94 0.05 15);
	--alert-caution-color: oklch(0.83 0.15 15);

	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	--destructive-foreground: var(--color-red-700);
	--info: var(--color-blue-500);
	--info-foreground: var(--color-blue-700);
	--success: var(--color-emerald-500);
	--success-foreground: var(--color-emerald-700);
	--warning: var(--color-amber-500);
	--warning-foreground: var(--color-amber-700);
}

.dark {
	--border-color: oklch(0.25 0 0);
	--border-sub-color: oklch(0.176 0 0);
	--code-color: oklch(0.8 0 0);
	--code-bg-color: oklch(0.18 0 0 / 0.44);
	--blockquote-color: oklch(0.205 0 0);
	--blockquote-to-color: oklch(0.205 0 0);
	--code-pre-bg-color: oklch(0.18 0.002 255.4);

	--kbd-bg-color: oklch(0.35 0.002 255.4);
	--kbd-bg-border-color: oklch(0.55 0.002 255.4);

	--alert-warning-color: oklch(0.45 0.09 88);
	--alert-note-color: oklch(0.48 0.05 205);
	--alert-tip-color: oklch(0.45 0.04 135);
	--alert-important-color: oklch(0.6 0.12 15);
	--alert-caution-color: oklch(0.35 0.18 15);

	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
	--destructive-foreground: var(--color-red-400);
	--info: var(--color-blue-500);
	--info-foreground: var(--color-blue-400);
	--success: var(--color-emerald-500);
	--success-foreground: var(--color-emerald-400);
	--warning: var(--color-amber-500);
	--warning-foreground: var(--color-amber-400);
}

::-webkit-scrollbar,
scrollbar {
	max-width: 10px;
	max-height: 6px;
	background-color: var(--accent);
}

::-webkit-scrollbar-thumb,
scrollbar-thumb {
	border-radius: 0;
	background-color: var(--foreground);
}

@media screen and (max-width: 768px) {
	section {
		border-left: none;
		border-right: none;
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.bg-squares {
		background-size: 14px 14px;
		background-image:
			linear-gradient(to right, var(--border-sub-color) 1px, transparent 1px),
			linear-gradient(to bottom, var(--border-sub-color) 1px, transparent 1px);
	}
	.bg-diagonal-stripes {
		background-size: 100%;
		background-image: repeating-linear-gradient(
			135deg,
			var(--border-sub-color) 0,
			var(--border-sub-color) 1px,
			transparent 1px,
			transparent 20px
		);
	}

	.bg-diagonal-stripes-sm {
		background-size: 100%;
		background-image: repeating-linear-gradient(
			45deg,
			var(--border-sub-color) 0,
			var(--border-sub-color) 1px,
			transparent 1px,
			transparent 8px
		);
	}
}

@layer components {
	.section-base {
		@apply relative mx-auto box-border max-w-300 border-r border-l max-[728px]:border-r-0 max-[728px]:border-l-0;
	}

	.s-border {
		@apply border-(--border-color);
	}
}
