/* 霞鹜975黑体 */
@import url('https://fontsapi.zeoseven.com/185/main/result.css');
/* 余繁离形体 */
@import url('https://fontsapi.zeoseven.com/719/main/result.css');
/* 破晓像素 */
@import url('https://fontsapi.zeoseven.com/870/main/result.css');
/* Outfit Thin */
@import url('https://fontsapi.zeoseven.com/368/main/result.css');
/* 寒蝉活仿楷 */
@import url('https://fontsapi.zeoseven.com/872/main/result.css');

@import 'artalk/dist/Artalk.css';

/* Syntax highlighting */
@import 'highlight.js/styles/github.css';
@import 'highlight.js/styles/github-dark.css';

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans:
		'Outfit Thin', 'LXGW 975 Gothic SC', 'Noto Sans SC', 'PingFang SC',
		'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

	--font-yu-pixel: 'YuFanLixing', sans-serif;
	--font-pixel: 'PoxiaoPixel', sans-serif;
	--font-satisfy: 'ZSFT-dy', cursive;
	--font-jb-mono: 'ZSFT-hk', sans-serif;
	--font-chill-huo: 'ChillHuoFangKai_F', sans-serif;
	--font-kinghwa: 'KingHwaOldSong', serif;
	--font-jetbrains-mono-nerd-font: 'JetBrains Mono', 'Fira Code', monospace;
}

@layer base {
	body {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		word-break: break-word;
		text-rendering: optimizeLegibility;
	}
}

#nprogress .bar {
	background: var(--sidebar-accent-foreground) !important;
	height: 4px !important;
}

#nprogress .peg {
	box-shadow:
		0 0 10px var(--sidebar-accent-foreground),
		0 0 5px var(--sidebar-accent) !important;
}

@theme inline {
	--animate-skeleton: skeleton 2s -1s infinite linear;
	--color-warning-foreground: var(--warning-foreground);
	--color-warning: var(--warning);
	--color-success-foreground: var(--success-foreground);
	--color-success: var(--success);
	--color-info-foreground: var(--info-foreground);
	--color-info: var(--info);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
	@keyframes skeleton {
		to {
			background-position: -200% 0;
		}
	}
}

:root {
	--border-color: oklch(0.922 0 0);
	--border-sub-color: oklch(0.97 0 0);
	--code-color: oklch(0.34 0 0);
	--code-bg-color: oklch(0.82 0 0 / 0.44);
	--blockquote-color: oklch(0.95 0 0);
	--blockquote-to-color: oklch(0.965 0 0);
	--code-pre-bg-color: oklch(0.965 0.002 255.4);

	--kbd-bg-color: oklch(0.925 0.002 255.4);
	--kbd-bg-border-color: oklch(0.785 0.002 255.4);

	--alert-warning-color: oklch(0.96 0.03 88);
	--alert-note-color: oklch(0.93 0.02 205);
	--alert-tip-color: oklch(0.93 0.01 135);
	--alert-important-color: oklch(0.94 0.05 15);
	--alert-caution-color: oklch(0.83 0.15 15);

	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	--destructive-foreground: var(--color-red-700);
	--info: var(--color-blue-500);
	--info-foreground: var(--color-blue-700);
	--success: var(--color-emerald-500);
	--success-foreground: var(--color-emerald-700);
	--warning: var(--color-amber-500);
	--warning-foreground: var(--color-amber-700);
}

.dark {
	--border-color: oklch(0.25 0 0);
	--border-sub-color: oklch(0.176 0 0);
	--code-color: oklch(0.8 0 0);
	--code-bg-color: oklch(0.18 0 0 / 0.44);
	--blockquote-color: oklch(0.205 0 0);
	--blockquote-to-color: oklch(0.205 0 0);
	--code-pre-bg-color: oklch(0.18 0.002 255.4);

	--kbd-bg-color: oklch(0.35 0.002 255.4);
	--kbd-bg-border-color: oklch(0.55 0.002 255.4);

	--alert-warning-color: oklch(0.45 0.09 88);
	--alert-note-color: oklch(0.48 0.05 205);
	--alert-tip-color: oklch(0.45 0.04 135);
	--alert-important-color: oklch(0.6 0.12 15);
	--alert-caution-color: oklch(0.35 0.18 15);

	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
	--destructive-foreground: var(--color-red-400);
	--info: var(--color-blue-500);
	--info-foreground: var(--color-blue-400);
	--success: var(--color-emerald-500);
	--success-foreground: var(--color-emerald-400);
	--warning: var(--color-amber-500);
	--warning-foreground: var(--color-amber-400);
}

::-webkit-scrollbar,
scrollbar {
	max-width: 10px;
	max-height: 6px;
	background-color: var(--accent);
}

::-webkit-scrollbar-thumb,
scrollbar-thumb {
	border-radius: 0;
	background-color: var(--foreground);
}

@media screen and (max-width: 768px) {
	section {
		border-left: none;
		border-right: none;
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.artalk {
		border-radius: 0 !important;

		.atk-main-editor {
			border-radius: 0 !important;
		}

		.atk-send-btn {
			background-color: var(--color-foreground) !important;
			color: var(--color-background) !important;
			border-radius: 0 !important;
		}

		.atk-list {
			--at-color-main: var(--primary) !important;

			.atk-copyright {
				padding-right: 0 !important;
			}
		}
	}

	.bg-squares {
		background-size: 14px 14px;
		background-image:
			linear-gradient(to right, var(--border-sub-color) 1px, transparent 1px),
			linear-gradient(to bottom, var(--border-sub-color) 1px, transparent 1px);
	}
	.bg-diagonal-stripes {
		background-size: 100%;
		background-image: repeating-linear-gradient(
			135deg,
			var(--border-sub-color) 0,
			var(--border-sub-color) 1px,
			transparent 1px,
			transparent 20px
		);
	}

	.bg-diagonal-stripes-sm {
		background-size: 100%;
		background-image: repeating-linear-gradient(
			45deg,
			var(--border-sub-color) 0,
			var(--border-sub-color) 1px,
			transparent 1px,
			transparent 8px
		);
	}

	pre,
	code {
		font-family: var(--font-jb-mono);
	}

	.post-style {
		.anchor-link {
			opacity: 0;
			padding: 0 0.5rem;
			transition: opacity 0.3s ease;
			-webkit-user-select: none;
			user-select: none;
			vertical-align: baseline;
			font-size: inherit;

			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}

		h1:hover .anchor-link,
		h2:hover .anchor-link,
		h3:hover .anchor-link,
		h4:hover .anchor-link,
		h5:hover .anchor-link,
		h6:hover .anchor-link {
			opacity: 1;
			color: var(--text-color);
		}

		h1:focus .anchor-link,
		h2:focus .anchor-link,
		h3:focus .anchor-link,
		h4:focus .anchor-link,
		h5:focus .anchor-link,
		h6:focus .anchor-link {
			opacity: 1;
			color: var(--text-color);
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 1em 0;
		}

		h1 {
			font-size: 32px;
			font-weight: 800;
		}

		h2 {
			font-size: 28px;
			font-weight: 700;
		}

		h3 {
			font-size: 24px;
			font-weight: 600;
		}

		h4 {
			font-size: 22px;
			font-weight: 500;
		}

		h5 {
			font-size: 20px;
			font-weight: 500;
		}

		h6 {
			font-size: 18px;
			font-weight: 500;
		}

		p {
			font-size: 16px;
			margin: 16px 0;
			line-height: 1.7;
		}

		ul {
			margin-bottom: 12px;
			font-size: 16px;
			list-style-type: disc !important;
		}

		li {
			margin-left: 25px;
		}

		li::marker {
			color: var(--accent-foreground);
		}

		ol {
			margin-bottom: 12px;
			font-size: 16px;
			list-style-type: decimal;
		}

		a {
			color: color-mix(in oklch, var(--accent-foreground), white 30%);
		}

		a:hover {
			text-decoration: underline;
		}

		#text {
			color: var(--code-color);
		}

		blockquote {
			background: linear-gradient(
				to left,
				var(--blockquote-color),
				var(--accent)
			);
			border-left: 5px solid var(--accent-foreground);
			padding-left: 10px;
			padding: 0.25rem 0 0.25rem 1rem;
			font-size: 16px;
			margin: 20px 10px;

			p {
				color: var(--text-color);
			}
		}

		hr {
			margin: 40px 0;
			border: none;
			border-top: 2px solid var(--border-color);
		}

		pre {
			position: relative;
		}

		pre code {
			font-family: var(--font-jetbrains-mono-nerd-font), monospace;
			padding: 20px;
			display: flex;
			background: var(--accent) !important;
			color: var(--accent-foreground) !important;
			white-space: no-wrap;
			word-wrap: break-word;
		}

		.code-header {
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			align-items: center;
			gap: 8px;
			/* background: var(--accent); */
			color: var(--muted-foreground);
			padding: 4px 8px;
			font-size: 12px;
			font-family: var(--font-jetbrains-mono-nerd-font), monospace;
			border-bottom-left-radius: 4px;
		}

		.code-lang {
			font-weight: bold;
		}

		.code-copy {
			background: none;
			border: none;
			cursor: pointer;
			color: inherit;
			display: flex;
			align-items: center;
			padding: 2px;
			border-radius: 2px;
			transition: opacity 0.2s;
		}

		.code-copy:hover {
			opacity: 0.7;
			background: rgba(255, 255, 255, 0.1);
		}

		img {
			max-width: 50%;
			height: auto;
			display: block;
			margin: 0 auto;
		}

		table {
			color: var(--accent-foreground);
			background-color: var(--accent);
			width: 100%;
			border-collapse: collapse;
		}

		th,
		td {
			border: 1px solid var(--border);
			padding: 8px;
			text-align: left;
		}

		th {
			background-color: var(--code-bg-color);
		}

		.markdown-alert {
			padding: 10px;
			margin: 10px 0;

			p {
				margin: 0;
			}
		}

		.markdown-alert-title {
			display: flex;
			align-items: center;
			font-weight: bold;
			margin-top: 0;
			gap: 6px;

			svg {
				width: 20px;
				height: 20px;
				fill: var(--primary);
				image-rendering: pixelated;
			}
		}

		.markdown-alert-warning {
			background-color: var(--alert-warning-color);
		}

		.markdown-alert-note {
			background-color: var(--alert-note-color);
		}

		.markdown-alert-tip {
			background-color: var(--alert-tip-color);
		}

		.markdown-alert-important {
			background-color: var(--alert-important-color);
		}

		.markdown-alert-caution {
			background-color: var(--alert-caution-color);
		}

		.footnotes {
			border-top: 1px solid var(--border-color);
			border-left: none;
			border-right: none;

			li {
				list-style-type: decimal !important;
			}

			li::marker {
				color: var(--text-color);
			}

			padding: 15px 0;

			h2 {
				display: none;
			}

			p {
				font-size: 16px;
			}
		}

		.contains-task-list {
			.task-list-item {
				input {
					background-color: var(--accent);
					width: 16px;
					height: 16px;
				}
			}
		}

		kbd {
			background-color: var(--kbd-bg-color);
			padding: 2px 4px;
			border-radius: 4px;
			font-size: 16px;

			font-family: var(--font-jetbrains-mono-nerd-font), monospace;

			border-bottom: 2px solid var(--kbd-bg-border-color);
		}

		.katex-html {
			display: none;
		}

		math {
			margin: 16px 0;
		}
	}
}

#nprogress {
	position: relative;
	z-index: 9999;
}

.medium-zoom-overlay {
	z-index: 1000;
	background: var(--background) !important;
}

.medium-zoom-image {
	z-index: 1001;
}

code:not(pre code) {
	font-family: var(--font-jetbrains-mono-nerd-font), monospace;
	padding: 0px 4px;

	white-space: pre-wrap;
	word-wrap: break-word;
	background: var(--accent) !important;
	color: var(--accent-foreground) !important;
}

@layer components {
	.section-base {
		@apply relative mx-auto box-border max-w-300 border-r border-l max-[728px]:border-r-0 max-[728px]:border-l-0;
	}

	.s-border {
		@apply border-(--border-color);
	}

	.code-header {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		align-items: center;
		gap: 8px;
		/* background: var(--accent); */
		color: var(--muted-foreground);
		padding: 4px 8px;
		font-size: 12px;
		font-family: var(--font-jetbrains-mono-nerd-font), monospace;
		border-bottom-left-radius: 4px;
	}

	.code-lang {
		font-weight: bold;
	}

	.code-copy {
		background: none;
		border: none;
		cursor: pointer;
		color: inherit;
		display: flex;
		align-items: center;
		padding: 2px;
		border-radius: 2px;
		transition: opacity 0.2s;
	}

	.code-copy:hover {
		opacity: 0.7;
		background: rgba(255, 255, 255, 0.1);
	}

	.anchor-link {
		opacity: 0;
		padding: 0 0.5rem;
		transition: opacity 0.3s ease;
		-webkit-user-select: none;
		user-select: none;
		vertical-align: baseline;
		font-size: inherit;

		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}
}
